* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* text */
.dark-color {
    color: #005b8b
}

.light-color {
    color: #ff9999;
}

.italic-text {
    font-style: italic;
}

.main-font {
    font-size: 18px;
}

.bold-links {
    text-decoration: underline;
    font-weight: bold;

}

.weblink-style {
    display: block;
}

.links:hover {
    color: #367588;
    opacity: 70%;
}

.links:focus {
    text-decoration: underline;
}

/* background colors */
.light-background-color {
    background-color: #ff9999;
}

.alt-light-background {
    background-color: #CEE5F2;
}

/* images */
.portrait {
    border-radius: 25px;
    max-width: 350px;
    margin-left: 50px;
}

.thumbnails {
    max-width: 345px;
    max-height: 345px;
}

.project-hero {
    max-width: 650px;
    height: 100%;
    margin-left: 75px;
    box-shadow: 2px 2px 15px #005b8b;
}


/* document elements */
body {
    font-family: 'Work Sans', sans-serif;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

ul li {
    list-style: none;
}

.site-top-border {
    border-top: 20px solid #CEE5F2;
    margin: 0px -100px 0px;
}

h1 {
    font-weight:normal;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}

button {
    background-color: white;
    border-color: #ff9999;
    border-style: solid;
    font-size: 16px;
    padding: 16px;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 10px;
    font-family: 'Work Sans', sans-serif;
}

.button-a:hover {
    cursor: pointer;
}

button:hover {
    background-color: #ff9999;
    border-color: #ff9999;
    color: white;
}


/* project pages to create a flex row */
.project-layout {
    display: flex;
    flex-direction:row;
}

/* header and footer */
header {
    line-height: 100px;
    display: flex;
    font-size: 20px;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.logo-header {
    max-width: 400px;
    height: 100%;
    object-fit: cover;
}

a.logo-header {
    max-height: 125px;
}

.logo-footer {
    max-width: 100px;
    max-height: 100px;
    margin-right: 25px;
}

footer {
    margin-top: 100px;
    height: 300px;
    display: flex;
    align-items: center;
    
}

.footer-row {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* work page */
.title {
    display: flex;
    flex-direction: inline-block;
}

.project-boxes {
    display: flex;
    flex-direction: row;
    border: 10px;
}

.project-titles {
    font-size: 25px; 
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.spacer {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.bottom-spacer {
    margin-bottom: 45px;
}

/* navigation bar */
.hamburger {
    position: absolute;
    top: 55px;
    right: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between; 
    width: 30px; 
    height: 21px;
}

.hamburger .bar {
    height: 3px; 
    width: 100%;
    border-radius: 10px;
}

.menu-items {    
    display:inline-block;
    margin-left: 15px; 
    margin-right: 15px;
}

.icons-container img {
    max-width: 25px;
    max-height: 25px;
    margin-top: 40px;
}

/* back arrow on my-story page */
#arrow {
    max-width: 75px;
    max-height: 750px;
    border: none;
    padding: 0;
    margin: 0;
}

#arrow:hover {
    background-color: white;
    opacity: 90%;
}




/* main content */
.content-box {
    display: flex; 
    justify-content: center;
}

.container-width {
    max-width: 600px;
}

.solo-text-width {
    max-width: 950px;
}


/* responsive: tablet size */
@media screen and (max-width: 1125px) {   
.logo-header {
    max-width: 350px;
    margin-left: -5px;
    margin-top: 5px;
    
}

nav {
    font-size: 18px;
}

.menu-items {    
    margin-left: 9px; 
    margin-right: 9px;
}

.icons-container img {
    max-width: 20px;
    max-height: 20px;
}

.thumbnails {
    max-width: 280px;
    max-height: 280px;
    
}

}

/* responsive: large phone */
@media screen and (max-width: 950px) {
.portrait {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 50px;
}
     
.hamburger {
    display: flex; 
}

nav {
    flex-direction: column;
}

.content-box {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0px;
}

.content-box.active {
    display: none;
}


#urban-thumb {
align-items: center;
}

.logo-header {
    max-width: 400px;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 30px;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects {    
    display: none;
}

.icons-container {
    display: none;
}

.icons-container img {
    max-width: 20px;
    max-height: 20px;
}

.projects.active {
    display: flex;
    flex-direction: column; 
    font-size: 20px;
}  

.icons-container.active {
    display: flex;
}

.title.active {
    display: none;
}


}

/* responsive: small phone */
@media screen and (max-width: 450px) {
    .logo-header {
        max-width: 250px;
    }

    .portrait {
        max-width: 280px;
    }

    main {
        margin-left: 35px;
        margin-right: 35px;
    }

    .footer-row {
        max-width: 100px;
        justify-content: center;
    }

}

